FORMAT: 1A
HOST: https://appsco.com/

# AppsCo API

# How to access the system
    TODO: Explain
## Application
    OAuth Request code in order to retrieve token for loggedin user.
    Use client id and scope in order to request equivalent token.
    Redirect uri can be used for redirect reponse.
    System will return code which you can later use to retrieve access_token.
    To retrieve token use code and basic authentication using your app credentials (client_id, client_secret).

# Dashboard
Dashboard hold all user applicaitons.
Account can have only one dashboard.

## Account
    username
    password

## Access Token
    token

# Account
Account represents identity in Appsco.
TODO: Add further explanation

# Application Template
Applicaiton Template represents application from catalog list.
These are the applications that user can add to the system.
TODO: add further explanation



# Application
Applicaiton is an instance of application template and is further used for sharing and configuring Application
instances.
TODO: add further explanation

# Application instance (Icon)
Application instance is configured application for an account.
TODO: Add further explanation


# Authentication [/api/v2/request-token]

To authenticate user should request token in order to get username and password.

### Exchange code and application credentials for token [POST] 

- Request
    - Attributes (Code)
    - Headers
    
                Authorization: Basic abc
                    
- Response 200 (application/json)

    - Attributes (Token)

                
- Response 403 (application/json)
        
        {
          "error": "access denied",
          "message": "Please use basic auth for this api call.",
          "code": 403
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }


# Explore Api [/api/v2]

This link can be used to retrieve list of all available resources.
In order to access this list user first need to authenticate.

## Retrieve api resources [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}


- Response 200 (applicaiton/json)

        {
          "versions": {
            "v2": {
              "dashboards": "https://www.appsco.com/api/v2/dashboards",
              "me": "https://www.appsco.com/api/v2/me",
              "application": "https://www.appsco.com/api/v2/applications",
              "notifications": "https://www.appsco.com/api/v2/notifications",
              "accounts": "https://www.appsco.com/api/v2/accounts",
              "devices": "https://www.appsco.com/api/v2/devices",
              "vault-cc": "https://www.appsco.com/api/v2/vault-cc",
              "vault-identity": "https://www.appsco.com/api/v2/vault-identity",
              "vault-login": "https://www.appsco.com/api/v2/vault",
              "vault-passport": "https://www.appsco.com/api/v2/vault-passport",
              "vault-secure-note": "https://www.appsco.com/api/v2/vault-secure-note",
              "vault-software-licence": "https://www.appsco.com/api/v2/vault-software-licence"
            }
          }
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Please use token for api calls",
          "code": 403
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

# Dashboards [/api/v2/dashboards]

Options ID's details of the current user


### GET
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "dashboards": [
            "https://appsco.com/api/v2/dashboards/124",
            "https://appsco.com/api/v2/dashboards/5"
          ],
          "meta": {
            "total": 2,
            "page": 1,
            "first": "https://appsco.com/api/v2/dashboards?page=1&extended=0",
            "last": "https://appsco.com/api/v2/dashboards?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/dashboards?page=1&extended=0",
            "next": "https://appsco.com/api/v2/dashboards?page=1&extended=0"
          }
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Single Dashboard [/api/v2/dashboards/{dashboard_id}]

Returns dashboard's details.

- Parameters
    - dashboard_id (number) - ID of the Dashboard in the form of an integer

### Retrive Single Dashboard [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "dashboard": {
            "role_id": 5,
            "alias": "5",
            "title": "Jonh Doe",
            "roles": [
              "OWNER",
              "VIEW_GRID",
              "SHARED"
            ],
            "default_dashboard": false,
            "logo": "https://appsco.com/bundles/appscodashboardapproot/img/dashboard-logo.png",
            "url": "https://appsco.com/5/",
            "self": "https://appsco.com/api/v2/dashboards/5"
          },
          "meta": {
            "icons": {
              "icons": [
                "https://appsco.com/api/v2/dashboards/5/icons/102",
                "https://appsco.com/api/v2/dashboards/5/icons/103",
                "https://appsco.com/api/v2/dashboards/5/icons/104",
                "https://appsco.com/api/v2/dashboards/5/icons/411"
              ],
              "count": 4,
              "self": "https://appsco.com/api/v2/dashboards/5/icons"
            },
            "accounts": "https://appsco.com/api/v2/dashboards/5/accounts",
            "applications": "https://appsco.com/api/v2/dashboards/5/applications"
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Dashboard's List of Accounts [/api/v2/dashboards/{dashboard_id}/accounts]

Returns dashboard's list of accounts.

- Parameters
    - dashboard_id (number) - ID of the Dashboard in the form of an integer

### Retrive dashboard's accounts [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "accounts": [
            "https://appsco.com/api/v2/accounts/14",
            "https://appsco.com/api/v2/accounts/146"
          ],
          "meta": {
            "total": 2,
            "page": 1,
            "first": "https://appsco.com/api/v2/dashboards/551/accounts?page=1&extended=0",
            "last": "https://appsco.com/api/v2/dashboards/551/accounts?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/dashboards/551/accounts?page=1&extended=0",
            "next": "https://appsco.com/api/v2/dashboards/551/accounts?page=1&extended=0"
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Dashboard's List of Applications [/api/v2/dashboards/{dashboard_id}/applications]

Returns dashboards's list of applications.

- Parameters
    - dashboard_id (number) - ID of the Dashboard in the form of an integer

### Retrive list of applications [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "applications": [
            "https://appsco.com/api/v2/me/applications/1391",
            "https://appsco.com/api/v2/me/applications/1493",
            "https://appsco.com/api/v2/me/applications/1494"
          ],
          "meta": {
            "total": 3,
            "page": 1,
            "first": "https://appsco.com/api/v2/dashboards/551/applications?page=1&extended=0",
            "last": "https://appsco.com/api/v2/dashboards/551/applications?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/dashboards/551/applications?page=1&extended=0",
            "next": "https://appsco.com/api/v2/dashboards/551/applications?page=1&extended=0"
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Dashboard's List of Icons [/api/v2/dashboards/{dashboard_id}/icons]

Returns all available icons of the specific dashboard.

- Parameters
    - dashboard_id (number) - ID of the Dashboard in the form of an integer

### Retrive all the icons [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "icons": [
            "https://appsco.com/api/v2/dashboards/124/icons/1621",
            "https://appsco.com/api/v2/dashboards/124/icons/1631",
            "https://appsco.com/api/v2/dashboards/124/icons/1632"
          ],
          "meta": {
            "total": 3,
            "page": 1,
            "first": "https://appsco.com/api/v2/dashboards/124/icons?page=1&extended=0",
            "last": "https://appsco.com/api/v2/dashboards/124/icons?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/dashboards/124/icons?page=1&extended=0",
            "next": "https://appsco.com/api/v2/dashboards/124/icons?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }
       
### Add application icon [POST]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
       
        {
          "icon": {
            "application": "https://appsco.com/api/v2/applications/1",
            "alias": 102,
            "title": "Twitter Personal",
            "auth_type": "unpw",
            "is_configured": true,
            "url_editable": false,
            "icon_url": "https://apps.appsco.com/icon/1.png",
            "url": "https://twitter.com/",
            "images": [
              "https://apps.appsco.com/icon/1.png"
            ],
            "owner": true,
            "self": "https://appsco.com/api/v2/dashboards/5/icons/102",
            "security": {
              "password_strength": 77,
              "info": {
                "upper_case": true,
                "lower_case": true,
                "digits": true,
                "special_chars": false,
                "length8": true,
                "length16": false,
                "entropy": 3.1699250014423
              },
              "last_update": 0,
              "score": 77
            },
            "claims": {
              "username": "john.doe@appsco.com",
              "password": "123appsco"
            },
            "meta": {
              "log": "https://appsco.com/api/v2/application/98/log",
              "autologin": "https://appsco.com/api/v2/application/98/switch",
              "subscribers": "https://appsco.com/api/v2/application/98/subscribers",
              "application-remove": "https://appsco.com/api/v2/application/98",
              "plugin_go": "https://appsco.com/5/plugin/go/102"
            }
          }
        }
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "",
          "code": 422
        }


# Dashboard's Single Icon [/api/v2/dashboards/{dashboard_id}/icons/{icon_id}]

Returns all available icons of the dashboards for the current user.

- Parameters
    - dashboard_id (number) - ID of the Dashboard in the form of an integer
    - icon_id (number) - ID of the Icon in the form of an integer

### Retrive all icon's information [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "icon": {
            "application": "https://appsco.com/api/v2/applications/1",
            "alias": 102,
            "title": "Twitter Personal",
            "auth_type": "unpw",
            "is_configured": true,
            "url_editable": false,
            "icon_url": "https://apps.appsco.com/icon/1.png",
            "url": "https://twitter.com/",
            "images": [
              "https://apps.appsco.com/icon/1.png"
            ],
            "owner": true,
            "self": "https://appsco.com/api/v2/dashboards/5/icons/102",
            "security": {
              "password_strength": 77,
              "info": {
                "upper_case": true,
                "lower_case": true,
                "digits": true,
                "special_chars": false,
                "length8": true,
                "length16": false,
                "entropy": 3.1699250014423
              },
              "last_update": 0,
              "score": 77
            },
            "claims": {
              "username": "john.doe@appsco.com",
              "password": "123appsco"
            },
            "meta": {
              "log": "https://appsco.com/api/v2/application/98/log",
              "autologin": "https://appsco.com/api/v2/application/98/switch",
              "subscribers": "https://appsco.com/api/v2/application/98/subscribers",
              "application-remove": "https://appsco.com/api/v2/application/98",
              "plugin_go": "https://appsco.com/5/plugin/go/102"
            }
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "Icon does not belong to dashboard[5]!",
          "code": 422
        }

### Setup application icon to dashboard [PATCH]

- Request
    - Attributes (Setup claims)
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "icon": {
            "application": "https://appsco.com/api/v2/applications/1",
            "alias": 102,
            "title": "Twitter Personal",
            "auth_type": "unpw",
            "is_configured": true,
            "url_editable": false,
            "icon_url": "https://apps.appsco.com/icon/1.png",
            "url": "https://twitter.com/",
            "images": [
              "https://apps.appsco.com/icon/1.png"
            ],
            "owner": true,
            "self": "https://appsco.com/api/v2/dashboards/5/icons/102",
            "security": {
              "password_strength": 77,
              "info": {
                "upper_case": true,
                "lower_case": true,
                "digits": true,
                "special_chars": false,
                "length8": true,
                "length16": false,
                "entropy": 3.1699250014423
              },
              "last_update": 0,
              "score": 77
            },
            "claims": {
              "username": "john.doe@appsco.com",
              "password": "123appsco"
            },
            "meta": {
              "log": "https://appsco.com/api/v2/application/98/log",
              "autologin": "https://appsco.com/api/v2/application/98/switch",
              "subscribers": "https://appsco.com/api/v2/application/98/subscribers",
              "application-remove": "https://appsco.com/api/v2/application/98",
              "plugin_go": "https://appsco.com/5/plugin/go/102"
            }
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "",
          "code": 422
        }

### Remove icon from the dashboard [DELETE] 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          },
          "meta": {
            "icons": "https://appsco.com/api/v2/dashboards/5/icons"
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        

- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "Icon does not belong to dashboard[5]!",
          "code": 422
        }


# My Account [/api/v2/me]

Return appsco user's account information.
       
### Retrive user's account information [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "account": {
            "id": 14,
            "dashboard_roles": {},
            "email": "john.doe@appsco.com",
            "timezone": "Europe/Oslo",
            "country": "",
            "created_at": {
              "date": "2015-09-03 15:13:38.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "name": "John Doe",
            "enabled": true,
            "first_name": "John",
            "last_name": "Doe",
            "gender": "m",
            "last_login": {
              "date": "2017-01-12 12:17:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "locale": "en",
            "phone": null,
            "picture_url": "https://appsco.com/public/pic/122",
            "username": "john.doe@appsco.com",
            "roles": [
              "ROLE_USER"
            ],
            "display_name": "John Doe",
            "company": {
              "name": "Appsco",
              "contact_email": "mark.doe@appsco.com",
              "domain": "appsco.com",
              "intranet_website": "http://appsco-16.dev.appscointranet.com",
              "remaining_trial_period": -357,
              "trial_period": null,
              "image": "https://appsco.com/public/pic/123?1484221322",
              "self": "https://appsco.com/api/v2/companies/16",
              "meta": {
                "applications": "https://appsco.com/api/v2/companies/16/applications",
                "settings": "https://appsco.com/api/v2/companies/16/settings",
                "logo": "https://appsco.com/api/v2/companies/16/logo"
              }
            },
            "org_units": [],
            "meta": {
              "share": "https://appsco.com/api/v2/accounts/14/share"
            },
            "self": "https://appsco.com/api/v2/accounts/14"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

### Update account settings [PUT]
    
- Request
    - Attributes (Me)        
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "account": {
            "id": 2,
            "email": "john.doe@appsco.com",
            "first_name": "John",
            "last_name": "Doe",
            "locale": "en",
            "timezone": "Europe/Belgrade",
            "gender": "m",
            "country": "RS",
            "phone": null,
            "picture_url": "https://appsco.com/bundles/appscodashboardapproot/img/profile-avatar.png",
            "company": null
          }
        }


- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }


# My Account Profile Image [/api/v2/me/profile-image]

Return appsco user's account profile image of currently logged in user.
        
### Setup my account's profile image [POST]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        []

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "Must be one file",
          "code": 422
        }

# My Account Partner [/api/v2/me/partner]

Appsco my account's transfer token to partner.

        
### Retrive transfer token to partner [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        []

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

# My Account Transfer Token [/api/v2/me/transfer-token]

Returns appsco my account transfer token of currently logged in user.

### GET

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "transfer_token": "3vylp2o8j1icwswkccsgoogccss0w8040wo04c0ww4w8",
          "expiration": {
            "date": "2016-12-28 12:58:56.000000",
            "timezone_type": 3,
            "timezone": "Europe\/Oslo"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

# My Account ApplicationIcons [/api/v2/me/icons]

Returns appsco account application's icons of currently logged in user.
        
### Retrive all application icon [GET]

- Request
    - Headers
    
            Authorization: Token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "icons": [
            "https://appsco.com/api/v2/dashboards/551/icons/1962"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/me/icons?page=1&extended=0",
            "last": "https://appsco.com/api/v2/me/icons?page=1&extended=0",
            "pages": 1,
            "per_page": 6,
            "prev": "https://appsco.com/api/v2/me/icons?page=1&extended=0",
            "next": "https://appsco.com/api/v2/me/icons?page=1&extended=0"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

# My Account Single ApplicationIcon [/api/v2/me/icons/{applicationIcon}]

Returns appsco account single application icon of currently logged in user.

- Parameters
    - applicationIcon (number) - ID of the Application Icon in the form of an integer
       
### Retrive single application icon [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "icon": {
            "application": "https://appsco.com/api/v2/applications/1",
            "alias": 102,
            "title": "Twitter Personal",
            "auth_type": "unpw",
            "is_configured": true,
            "url_editable": false,
            "icon_url": "https://apps.appsco.com/icon/1.png",
            "url": "https://twitter.com/",
            "images": [
              "https://apps.appsco.com/icon/1.png"
            ],
            "owner": true,
            "self": "https://appsco.com/api/v2/dashboards/5/icons/102",
            "security": {
              "password_strength": 77,
              "info": {
                "upper_case": true,
                "lower_case": true,
                "digits": true,
                "special_chars": false,
                "length8": true,
                "length16": false,
                "entropy": 3.1699250014423
              },
              "last_update": 0,
              "score": 77
            },
            "claims": {
              "username": "john.doe@appsco.com",
              "password": "123appsco"
            },
            "meta": {
              "log": "https://appsco.com/api/v2/application/98/log",
              "autologin": "https://appsco.com/api/v2/application/98/switch",
              "subscribers": "https://appsco.com/api/v2/application/98/subscribers",
              "application-remove": "https://appsco.com/api/v2/application/98",
              "plugin_go": "https://appsco.com/5/plugin/go/102"
            }
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Icon does not belong to current user",
          "code": 403
        }

# My Account's Applications [/api/v2/me/applications]

Returns appsco account applications of currently logged in user.

### Retrive all applications for my account [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "applications": [
            "https://appsco.com/api/v2/me/applications/1391",
            "https://appsco.com/api/v2/me/applications/1392",
            "https://appsco.com/api/v2/me/applications/1493",
            "https://appsco.com/api/v2/me/applications/1494"
          ],
          "meta": {
            "total": 4,
            "page": 1,
            "first": "https://appsco.com/api/v2/me/applications?page=1&extended=0",
            "last": "https://appsco.com/api/v2/me/applications?page=1&extended=0",
            "pages": 1,
            "per_page": 6,
            "prev": "https://appsco.com/api/v2/me/applications?page=1&extended=0",
            "next": "https://appsco.com/api/v2/me/applications?page=1&extended=0"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# My Account Single Application [/api/v2/me/applications/{application}]

Returns appsco account single application of currently logged in user.

- Parameters
    - application (number) - ID of the Application in the form of an integer
        
### Retrive specific application's information [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "application": "https://appsco.com/api/v2/applications/2",
          "title": "Facebook",
          "auth_type": "item",
          "url_editable": false,
          "application_url": "https://appsco.com/genericIcons/f.png",
          "url": "https://www.facebook.com/",
          "images": [
            "https://apps.appsco.com/icon/2.png"
          ]
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Application does not belong to current user",
          "code": 403
        }

# My Account Two Factor Authentication [/api/v2/me/2fa]

Returns appsco account two factor authentication of currently logged in user.
      
### Turn OFF two factor authentication [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "enabled": false
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Setup two factor authentication [POST]

- Attributes
    - googleAuthenticatorSecret: SKDSSBRQR2VXCCVK (string) - Goolge authenticator secret key
    - key: 348271 (number) - Two factor authentication key
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "success":true
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove two factor authentication [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "success":true
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# My Account Two Factor Authentication Codes [/api/v2/me/2fa/codes]

Returns appsco account two factor authentication codes of currently logged in user
        
### GET

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        []
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# My Account's Change Password [/api/v2/me/change-password]

Appsco my account change password of currently logged in user.
        
### Setup new password for my account [POST]

- Attributes
    - oldPassword: 123pass (string) - Old password
    - plainPassword_first: pass456 (string) - New password first time
    - plainPassword_second: pass456 (string) - New password second time
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "success":true
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 422 (application/json)

        {
          "error":"Unprocessable Entity",
          "message":"ERROR: Invalid old password\n",
          "code":422
        }

# My Account's Authorized Apps [/api/v2/me/authorized-apps]

Returns appsco account two factor authorized applications of currently logged in user
 
### Retrive authorization's information [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "authorizations": [
            {
              "created": {
                "date": "2015-09-04 08:58:21.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "scopes": "profile_read",
              "title": "SomeApp",
              "description": "SomeApp",
              "icon_url": null,
              "active": true,
              "website": "http://someapp.org",
              "revoke": "https://appsco.com/api/v2/me/authorized-apps/4"
            },
            {
              "created": {
                "date": "2015-09-09 07:23:06.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "scopes": "profile_read",
              "title": "SomeApp",
              "description": null,
              "icon_url": "http://accounts.mysiteshop.com/apple-touch-icon-114-precomposed.png",
              "active": true,
              "website": "http://someapp.org",
              "revoke": "https://appsco.com/api/v2/me/authorized-apps/7"
            }
          ],
          "meta": {
            "total": 2,
            "page": 1,
            "first": "https://appsco.com/api/v2/me/authorized-apps?page=1&extended=1",
            "last": "https://appsco.com/api/v2/me/authorized-apps?page=1&extended=1",
            "pages": 1,
            "per_page": 6,
            "prev": "https://appsco.com/api/v2/me/authorized-apps?page=1&extended=1",
            "next": "https://appsco.com/api/v2/me/authorized-apps?page=1&extended=1"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Me Authorized Apps ID [/api/v2/me/authorized-apps/{oauthApp}]

Delete appsco account oauth application of currently logged in user.

- Parameters
    - oauthApp (number) - ID of the Authorized application in the form of an integer
        
### Remove authorization of application  [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "success": true
        }

        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# My Account Logs [/api/v2/me/log]

Return my account logs of currently logged in user.
        
### Retrive all logs [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "log": [
            {
              "account": {
                "display_name": "John Doe",
                "email": "john.doe@appsco.com",
                "image": "https://appsco.com/public/pic/122"
              },
              "created_at": {
                "date": "2016-12-27 15:20:46.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "ip": "217.65.152.132",
              "user_agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.100 Safari/537.36",
              "type": "user_oauth_app_authorization_revoked",
              "data": {
                "roles": [
                  "ROLE_SCOPE_API_PROFILE_VIEW"
                ],
                "account": "John Doe",
                "created_at": {
                  "date": "2015-09-09 07:23:06.000000",
                  "timezone_type": 3,
                  "timezone": "Europe/Oslo"
                },
                "expires": {
                  "date": "2015-09-10 07:23:06.000000",
                  "timezone_type": 3,
                  "timezone": "Europe/Oslo"
                },
                "client_id": "378uiicsisysgs0808g8k8coogg8ws8sg80s8okowkssc",
                "title": "SomeApp",
                "website": "http://someapp.org",
                "description": null
              }
            },
            {
              "account": {
                "display_name": "John Doe",
                "email": "john.doe@appsco.com",
                "image": "https://my-dev.appsco.com/public/pic/122"
              },
              "created_at": {
                "date": "2016-12-27 15:05:34.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "ip": "217.65.152.132",
              "user_agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.100 Safari/537.36",
              "type": "user_changed_password",
              "data": []
            },
            {
              "account": {
                "display_name": "John Doe",
                "email": "john.doe@appsco.com",
                "image": "https://my-dev.appsco.com/public/pic/122"
              },
              "created_at": {
                "date": "2016-12-27 12:45:13.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "ip": "217.65.152.132",
              "user_agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.100 Safari/537.36",
              "type": "user_profile_info_changed",
              "data": {
                "picture_url": {
                  "from": "https://lh6.googleusercontent.com/-815AUb_ow_o/AAAAAAAAAI/AAAAAAAABU/Rjbo9QHIk2U/photo.jpg",
                  "to": "https://appsco.com/public/pic/122"
                }
              }
            }
          ],
          "meta": {
            "total": 5,
            "page": 1,
            "first": "https://appsco.com/api/v2/me/log?page=1&extended=0",
            "last": "https://appsco.com/api/v2/me/log?page=1&extended=0",milos
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/me/log?page=1&extended=0",
            "next": "https://appsco.com/api/v2/me/log?page=1&extended=0"
          }
        }        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Template Applications [/api/v2/applications]

Return all available template applications.
        
### Retrive all template applications [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "applications": [
            "https://my-dev.appsco.com/api/v2/applications/1",
            "https://my-dev.appsco.com/api/v2/applications/2",
            "https://my-dev.appsco.com/api/v2/applications/3",
            "https://my-dev.appsco.com/api/v2/applications/6",
            "https://my-dev.appsco.com/api/v2/applications/7",
            "https://my-dev.appsco.com/api/v2/applications/8",
            "https://my-dev.appsco.com/api/v2/applications/13",
            "https://my-dev.appsco.com/api/v2/applications/14",
            "https://my-dev.appsco.com/api/v2/applications/15",
            "https://my-dev.appsco.com/api/v2/applications/16",
            "https://my-dev.appsco.com/api/v2/applications/17",
            "https://my-dev.appsco.com/api/v2/applications/18",
            "https://my-dev.appsco.com/api/v2/applications/19",
            "https://my-dev.appsco.com/api/v2/applications/20",
            "https://my-dev.appsco.com/api/v2/applications/21",
            "https://my-dev.appsco.com/api/v2/applications/23",
            "https://my-dev.appsco.com/api/v2/applications/24",
            "https://my-dev.appsco.com/api/v2/applications/25",
            "https://my-dev.appsco.com/api/v2/applications/26",
            "https://my-dev.appsco.com/api/v2/applications/27",
            "https://my-dev.appsco.com/api/v2/applications/28",
            "https://my-dev.appsco.com/api/v2/applications/31",
            "https://my-dev.appsco.com/api/v2/applications/32",
            "https://my-dev.appsco.com/api/v2/applications/33",
            "https://my-dev.appsco.com/api/v2/applications/34",
            "https://my-dev.appsco.com/api/v2/applications/37",
            "https://my-dev.appsco.com/api/v2/applications/38",
            "https://my-dev.appsco.com/api/v2/applications/39",
            "https://my-dev.appsco.com/api/v2/applications/40"
          ],
          "meta": {
            "total": 0,
            "page": 1,
            "first": "https://appsco.com/api/v2/dashboards?page=1&extended=0",
            "last": "https://appsco.com/api/v2/dashboards?page=0&extended=0",
            "pages": 0,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/dashboards?page=1&extended=0",
            "next": "https://appsco.com/api/v2/dashboards?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

# Single Application [/api/v2/application/{application}]

Return single application's on the user's dashboard. 

- Parameters
    - application (number) - ID of the Application in the form of an integer
    

### Retrive all information about application [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "application": {
            "id": 1,
            "title": "Twitter",
            "url": "https://twitter.com/",
            "url_editable": false,
            "icon_url": "https://apps.appsco.com/icon/1.png",
            "auth_types": {
              "unpw": "icon_unpw",
              "none": "icon_none",
              "item": "icon_item"
            },
            "plugin_data": "{\"cookie\":{\"remove\":[\"http:\\/\\/twitter.com\\/\",\"https:\\/\\/www.twitter.com\\/\"],\"rx\":[]},\"login\":[{\"url\":[\"\\/twitter.com\",\"\\/www.twitter.com\"],\"code\":\"Appsco.Claims.get(function(claims) {\\n    Appsco.Browser\\n        .type(\"#signin-email\", claims['username'])\\n        .type(\"#signin-password\", claims['password'])\\n        .uncheck(\"#remember_me\")\\n        .click('div.front-signin form.signin button[type=\"submit\"]')\\n    ;\\n});\\n\",\"rx\":[]}],\"success\":[\"a:contains(@AppsCo_Test)\"]}",
            "self": "https://appsco.com/api/v2/applications/1"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

### Remove single application from dashboard [DELETE] 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          },
          "meta": {
            "icons": "https://appsco.com/api/v2/dashboards/5/icons"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        

# Switch Application [/api/v2/application/{application}/switch]

- Parameters
    - application (number) - ID of the Application in the form of an integer
    
        
### POST 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Application's Log [/api/v2/application/{application}/log]

- Parameters
    - application (number) - ID of the Application in the form of an integer
       
### Retrive all logs for application [GET] 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "log": [
            {
              "account": {
                "display_name": "John Doe",
                "email": "john.doe@appsco.com",
                "image": "https://appsco.com/public/pic/122"
              },
              "created_at": {
                "date": "2016-12-28 09:47:34.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "application": {
                "application": "https://appsco.com/api/v2/applications/2",
                "title": "Facebook",
                "auth_type": "item",
                "url_editable": false,
                "application_url": "https://appsco.com/genericIcons/f.png",
                "url": "https://www.facebook.com/",
                "images": [
                  "https://apps.appsco.com/icon/2.png"
                ]
              },
              "type": "claims_changed"
            },
            {
              "account": {
                "display_name": "John Doe",
                "email": "john.doe@appsco.com",
                "image": "https://appsco.com/public/pic/122"
              },
              "created_at": {
                "date": "2016-12-28 09:41:51.000000",
                "timezone_type": 3,
                "timezone": "Europe/Oslo"
              },
              "application": {
                "application": "https://appsco.com/api/v2/applications/2",
                "title": "Facebook",
                "auth_type": "item",
                "url_editable": false,
                "application_url": "https://appsco.com/genericIcons/f.png",
                "url": "https://www.facebook.com/",
                "images": [
                  "https://apps.appsco.com/icon/2.png"
                ]
              },
              "type": "logged_in"
            }
          ],
          "meta": {
            "total": 4,
            "page": 1,
            "first": "https://appsco.com/api/v2/application/1392/log?page=1&extended=0",
            "last": "https://appsco.com/api/v2/application/1392/log?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/application/1392/log?page=1&extended=0",
            "next": "https://appsco.com/api/v2/application/1392/log?page=1&extended=0"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Application's Subscribers [/api/v2/application/{application_id}/subscribers]

- Parameters
    - application_id (number) - ID of the Application in the form of an integer
       
### Retrive all the subscribers for application [GET] 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "accounts": [
            "https://appsco.com/api/v2/accounts/14"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/application/1392/subscribers?page=1&extended=0",
            "last": "https://appsco.com/api/v2/application/1392/subscribers?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/application/1392/subscribers?page=1&extended=0",
            "next": "https://appsco.com/api/v2/application/1392/subscribers?page=1&extended=0"
          }
        }
        
### Delete specific subscriber [DELETE] 

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

        
- Response 422 (application/json)

        {
          "error": "Unprocessable Entity",
          "message": "Account not valid",
          "code": 422
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Notifications [/api/v2/notifications]

### Retrive all the notifications [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        [
          {
            "id": 375,
            "body": "<div class=\"clearfix notification\">\n    <div class=\"notification-date\">\n        Jan 13 2017\n    </div>\n    <div class=\"pull-left notification-icon\">\n                    <img src=\"/bundles/appscodashboardapproot/img/dashboard-logo.png?1.0.4\" alt=\"Notification\"/>\n            </div>\n    <div class=\"pull-left notification-message\">\n            You have been added to <a href=\"/396/list\" class=\"notification-emphasis\" >milan1987@gmail.com</a>\n    </div>\n</div>\n",
            "imageUrl": null,
            "createdAt": "2017-01-13T14:18:35+01:00"
          }
        ]

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

# Accounts [/api/v2/accounts]
   
### GET
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "accounts": [
            "https://appsco.com/api/v2/accounts/1",
            "https://appsco.com/api/v2/accounts/2",
            "https://appsco.com/api/v2/accounts/4",
            "https://appsco.com/api/v2/accounts/5",
            "https://appsco.com/api/v2/accounts/6",
            "https://appsco.com/api/v2/accounts/7",
            "https://appsco.com/api/v2/accounts/8",
            "https://appsco.com/api/v2/accounts/9",
            "https://appsco.com/api/v2/accounts/10",
            "https://appsco.com/api/v2/accounts/11",
            "https://appsco.com/api/v2/accounts/12",
            "https://appsco.com/api/v2/accounts/13",
            "https://appsco.com/api/v2/accounts/14",
            "https://appsco.com/api/v2/accounts/15",
            "https://appsco.com/api/v2/accounts/16",
            "https://appsco.com/api/v2/accounts/17",
            "https://appsco.com/api/v2/accounts/18",
            "https://appsco.com/api/v2/accounts/19",
            "https://appsco.com/api/v2/accounts/20",
            "https://appsco.com/api/v2/accounts/21",
            "https://appsco.com/api/v2/accounts/22",
            "https://appsco.com/api/v2/accounts/23",
            "https://appsco.com/api/v2/accounts/24",
            "https://appsco.com/api/v2/accounts/25",
            "https://appsco.com/api/v2/accounts/26",
            "https://appsco.com/api/v2/accounts/27",
            "https://appsco.com/api/v2/accounts/28",
            "https://appsco.com/api/v2/accounts/29",
            "https://appsco.com/api/v2/accounts/30"
          ],
          "meta": {
            "total": 16090,
            "page": 1,
            "first": "https://appsco.com/api/v2/accounts?page=1&extended=0",
            "last": "https://appsco.com/api/v2/accounts?page=161&extended=0",
            "pages": 161,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/accounts?page=1&extended=0",
            "next": "https://appsco.com/api/v2/accounts?page=2&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Single Account [/api/v2/accounts/{account_id}]

- Parameters
    - account_id (number) - ID of the Account in the form of an integer

### GET
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "account": {
            "id": 1,
            "dashboard_roles": {},
            "email": "admin@appsco.com",
            "timezone": "Europe/Oslo",
            "country": "AF",
            "created_at": {
              "date": "2015-09-02 15:48:40.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "name": "Appsco Admin",
            "enabled": true,
            "first_name": "Appsco",
            "last_name": "Admin",
            "gender": null,
            "last_login": {
              "date": "2016-01-13 16:45:12.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "locale": "en",
            "phone": null,
            "picture_url": null,
            "username": "admin@appsco.com",
            "roles": [
              "ROLE_ADMIN",
              "ROLE_WELCOME",
              "ROLE_USER"
            ],
            "display_name": "Appsco Admin",
            "company": null,
            "org_units": [],
            "meta": {
              "share": "https://appsco.com/api/v2/accounts/1/share"
            },
            "self": "https://appsco.com/api/v2/accounts/1"
          },
          "meta": {
            "share": "https://appsco.com/api/v2/accounts/1/share"
          }
        }
          
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

        
# Accounts Share Icons [/api/v2/applications/{account_id}/share]

- Parameters
    - account_id (number) - ID of the Application in the form of an integer  
       
### Share application icon [POST] 

- Attributes
    - icon: https://appsco.com/api/v2/dashboards/551/icons/247155 (string) - Dashboard's icon that you want to share
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

    
# Vault Items [/api/v2/vault]

### Retrive all vault items [GET]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault/127"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }
        
- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Setup new vault item [POST]

- Attributes (Login)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "item": {
            "name": "John Doe",
            "username": "username",
            "password": "password",
            "url": "http://johndoe.com",
            "note": "note",
            "owner": "https://appsco.com/api/v2/accounts/14",
            "self": "https://appsco.com/api/v2/vault/127"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Vault Item [/api/v2/vault/{vault_id}]

- Parameters
    - vault_id (number) - ID of the Vault Login in the form of an integer

### Retrive single vault item [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "item": {
            "name": "John Doe",
            "username": "username",
            "password": "password",
            "url": "http://johndoe.com",
            "note": "note",
            "owner": "https://my-dev.appsco.com/api/v2/accounts/14",
            "self": "https://my-dev.appsco.com/api/v2/vault/127"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Update single vault item [PATCH]

- Attributes (Login)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "item": {
            "name": "John Doe",
            "username": "username",
            "password": "password",
            "url": "http://johndoe.com",
            "note": "note",
            "owner": "https://my-dev.appsco.com/api/v2/accounts/14",
            "self": "https://my-dev.appsco.com/api/v2/vault/127"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }
        
### Remove single vault item [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Vault Credit Cards [/api/v2/vault-cc]

### Retrive credit cardsGET
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault-cc/25"
          ],
          "meta": {
            "total": 0,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault-cc?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault-cc?page=0&extended=0",
            "pages": 0,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault-cc?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault-cc?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Add new credit card [POST] 

- Attributes (Credit Card)

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
    
        {
          "item": {
            "title": "Credit Card",
            "cardHolder": "John Doe",
            "cardNumber": "2056025834781077",
            "expiryDate": {
              "date": "2018-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "type": "2",
            "validFrom": {
              "date": "2010-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "verificationNumber": "707",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-cc/25"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Vault Credit Card [/api/v2/vault-cc/{cc_id}]

- Parameters
    - cc_id (number) - ID of the Vault Credit Card in the form of an integer

### Retrive single credit card [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "item": {
            "title": "Credit Card",
            "cardHolder": "John Doe",
            "cardNumber": "2056025834781077",
            "expiryDate": {
              "date": "2018-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "type": "2",
            "validFrom": {
              "date": "2010-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "verificationNumber": "707",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-cc/25"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Update the credit card [PATCH] 

- Attributes (Credit Card)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
    
        {
          "item": {
            "title": "Credit Card",
            "cardHolder": "John Doe",
            "cardNumber": "2056025834781077",
            "expiryDate": {
              "date": "2018-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "type": "2",
            "validFrom": {
              "date": "2010-10-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "verificationNumber": "707",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-cc/25"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove the credit card [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Vault Identities [/api/v2/vault-identity]

### Retrive all vault identities [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault-identity/53"
          ],
          "meta": {
            "total": 0,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault-identity?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault-identity?page=0&extended=0",
            "pages": 0,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault-identity?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault-identity?page=1&extended=0"
          }
        }        

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Create new identitiy [POST]

- Attributes (Identity)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John",
            "firstName": "John",
            "lastName": "Doe",
            "birthDate": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "sex": "m",
            "email": "john.doe@appsco.com",
            "company": "Company",
            "department": "Department",
            "jobTitle": "Job title",
            "cell": "+381631234567",
            "phoneBusiness": "+381631234567",
            "phoneHome": "+381111234567",
            "website": "http://www.company.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-identity/53"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }


# Vault Identity [/api/v2/vault-identity/{identity_id}]

- Parameters
    - identity_id (number) - ID of the Vault Identity in the form of an integer

### Retrive single identity [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John",
            "firstName": "John",
            "lastName": "Doe",
            "birthDate": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "sex": "m",
            "email": "john.doe@appsco.com",
            "company": "Company",
            "department": "Department",
            "jobTitle": "Job title",
            "cell": "+381631234567",
            "phoneBusiness": "+381631234567",
            "phoneHome": "+381111234567",
            "website": "http://www.company.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-identity/53"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }
        
### Update identity [PATCH]

- Attributes (Identity)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John",
            "firstName": "John",
            "lastName": "Doe",
            "birthDate": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "sex": "m",
            "email": "john.doe@appsco.com",
            "company": "Company",
            "department": "Department",
            "jobTitle": "Job title",
            "cell": "+381631234567",
            "phoneBusiness": "+381631234567",
            "phoneHome": "+381111234567",
            "website": "http://www.company.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-identity/53"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove identity [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Passports [/api/v2/vault-passport]

### Retrive all passports [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault-passport/8"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault-passport?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault-passport?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault-passport?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault-passport?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Add a new passport [POST] 

- Attributes (Passport)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John Doe",
            "sex": "m",
            "country": "RS",
            "dateOfBirth": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "expirationDate": {
              "date": "1955-09-29 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuedDate": {
              "date": "1938-09-16 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuingAuthority": "Belgrade",
            "nationality": "Serbian",
            "number": "0004567",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-passport/8"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Passport [/api/v2/vault-passport/{passport_id}]

- Parameters
    - passport_id (number) - ID of the Vault Passport in the form of an integer

### Retrive single passport [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John Doe",
            "sex": "m",
            "country": "RS",
            "dateOfBirth": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "expirationDate": {
              "date": "1955-09-29 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuedDate": {
              "date": "1938-09-16 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuingAuthority": "Belgrade",
            "nationality": "Serbian",
            "number": "0004567",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-passport/8"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Update the passport [PATCH]

- Attributes (Passport)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "John Doe",
            "sex": "m",
            "country": "RS",
            "dateOfBirth": {
              "date": "1934-01-19 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "expirationDate": {
              "date": "1955-09-29 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuedDate": {
              "date": "1938-09-16 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "issuingAuthority": "Belgrade",
            "nationality": "Serbian",
            "number": "0004567",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-passport/8"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove the passport [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Security Notes [/api/v2/vault-secure-note]

### Retrive all security notes [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault-secure-note/31"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault-secure-note?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault-secure-note?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault-secure-note?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault-secure-note?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Create a new security note [POST]

- Attributes (Secure Note)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "title": "Secure Note",
            "note": "Note note note note note note note note note note note note note.",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-secure-note/31"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Secure Note [/api/v2/vault-secure-note/{note_id}]

- Parameters
    - note_id (number) - ID of the Vault Secure Note in the form of an integer

## Retrive single security note [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "title": "Secure Note",
            "note": "Note note note note note note note note note note note note note.",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-secure-note/31"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Update the security note [PATCH] 

- Attributes (Secure Note)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "title": "Secure Note",
            "note": "Note note note note note note note note note note note note note.",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-secure-note/31"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove the security note [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Software Licences [/api/v2/vault-software-licence]

### Retrive all software licences [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "items": [
            "https://appsco.com/api/v2/vault-software-licence/18"
          ],
          "meta": {
            "total": 1,
            "page": 1,
            "first": "https://appsco.com/api/v2/vault-software-licence?page=1&extended=0",
            "last": "https://appsco.com/api/v2/vault-software-licence?page=1&extended=0",
            "pages": 1,
            "per_page": 100,
            "prev": "https://appsco.com/api/v2/vault-software-licence?page=1&extended=0",
            "next": "https://appsco.com/api/v2/vault-software-licence?page=1&extended=0"
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }
        
### Add new software licence [POST]

- Attributes (Software Licence)

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "Software Licence",
            "licence": "Licence",
            "licenceKey": "7hw0fqyydegws8sg40s40wgco04sgoog404oookk4oocc",
            "numberOfLicences": 10,
            "orderNumber": "wsk8skccoccsg00cwocwwc80skss04kkwc",
            "orderTotal": "5",
            "price": "2000",
            "publisher": "Publisher",
            "purchaseDate": {
              "date": "2010-03-18 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "supportEmail": "support@email.com",
            "version": "v2",
            "website": "http://www.website.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-software-licence/18"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }



# Vault Software Licence [/api/v2/vault-software-licence/{licence_id}]

- Parameters
    - licence_id (number) - ID of the Vault Secure Note in the form of an integer

### Retrive single software licence [GET]
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "Software Licence",
            "licence": "Licence",
            "licenceKey": "7hw0fqyydegws8sg40s40wgco04sgoog404oookk4oocc",
            "numberOfLicences": 10,
            "orderNumber": "wsk8skccoccsg00cwocwwc80skss04kkwc",
            "orderTotal": "5",
            "price": "2000",
            "publisher": "Publisher",
            "purchaseDate": {
              "date": "2010-03-18 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "supportEmail": "support@email.com",
            "version": "v2",
            "website": "http://www.website.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-software-licence/18"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Update software licence [PATCH ]
- Attributes (Software Licence)
    
- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)
        
        {
          "item": {
            "name": "Software Licence",
            "licence": "Licence",
            "licenceKey": "7hw0fqyydegws8sg40s40wgco04sgoog404oookk4oocc",
            "numberOfLicences": 10,
            "orderNumber": "wsk8skccoccsg00cwocwwc80skss04kkwc",
            "orderTotal": "5",
            "price": "2000",
            "publisher": "Publisher",
            "purchaseDate": {
              "date": "2010-03-18 00:00:00.000000",
              "timezone_type": 3,
              "timezone": "Europe/Oslo"
            },
            "supportEmail": "support@email.com",
            "version": "v2",
            "website": "http://www.website.com",
            "note": "",
            "owner": "https://appsco.com/api/v2/accounts/262",
            "self": "https://appsco.com/api/v2/vault-software-licence/18"
          }
        }
        
- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }

### Remove software licence [DELETE]

- Request
    - Headers
    
            Authorization: token {{TOKEN}}

- Response 200 (application/json)

        {
          "response": {
            "message": "Successful",
            "code": 200
          }
        }

- Response 401 (application/json)

        {
          "error": "unauthorized",
          "message": "please authenticate with your token",
          "code": 401
        }

- Response 403 (application/json)

        {
          "error": "access denied",
          "message": "Access Denied.",
          "code": 403
        }





# Data Structures

## Code (object)
- code: 404oookk4ooccgsws2pxjq4rkeccg0co0wsk8 (string) - That is base64 of `client_id` and `client_secret`

## Token (object)
- token: 7hw0fqyydegws8sg40s40wgco04sgoog404oookk4ooccgsws2pxjq4rkeccg0co0wsk8skccoccsg00cwocwwc80skss04kkwc - Requested user's token

## Setup claims
- username: ASD (string) - User's username for application
- password: asd (string) - User's password for application
- note: Note something (string) - User's note for application

## Software Licence (object)
- name: Software Licence (string) - Name of software licence
- licence: Licence (string) - Name of licence
- licenceKey: 7hw0fqyydegws8sg40s40wgco04sgoog404oookk4oocc (string) - Key of licence
- numberOfLicences: 10 (string) - Number of purchased licences
- orderNumber: wsk8skccoccsg00cwocwwc80skss04kkwc (string) - Number of order
- orderTotal: 5 (string) - Total of orders
- price: 21200 (string) - Price of order
- publisher: Publisher (string) - Name of publisher
- purchaseDate: 2010-03-18 00:00:00.000000 (date) - Date of purchased order
- supportEmail: support@email.com (string) - Email of support
- version: v2 (string) - Version of software
- website: http://www.website.com (string) - Website


## Secure Note (object)
- title: Secure note (string) - Title of secure note
- note: Some note (string) - Text of note


## Passport (object)
- name: John Doe (string) - Name in passport
- sex: m (array) - Gender
    - f
- country: RS (string) - Country in passport
- dateOfBirth: 1934-01-19 00:00:00.000000 (date) - Date of birth
- expirationDate: 1955-09-29 00:00:00.000000 (date) - Date of passport expiration
- issuedDate: 938-09-16 00:00:00.000000 (date) - Date when passport was issued
- issuingAuthority: MUP (string) - Authority that issued the passport
- nationality: Serbian (string) - Nationality of person in passport
- number: 0004567 (string) - Number of passport
- note: Some note (string) - Text of note


## Identity (object)

- name: John Doe (string) - Name
- firstName: John (string) - First name
- lastName: Doe (string) - Last name
- birthDate: 1934-01-19 00:00:00.000000 (date) - Date of birth
- sex: m (array) - Gender, male (m) or female (f)
    - f
- email: john.doe@appsco.com (string) - Email
- company: Company (string) - Name of company
- department: Department (string) - Department of company
- jobTitle: Job title (string) - Job title in company
- cell: +381631234567 (string) - Cell phone number
- phoneBusiness: +381631234567 (string) - Company phone number
- phoneHome: +381111234567 (string) - Home phone number
- website: http://www.company.com (string) - Website address
- note: Some note (string) - Text of note

## Credit Card (object)

- title: Credit Card (required, string) - Title
- cardHolder: John Doe (string) - Card holder
- type: Visa (array) - Type of credit card
    - Visa
    - MasterCard
    - American Express
    - Mastercard Maestro
    - Visa Electron
    - Other
- cardNumber: 2056025834781077 (string) - Card number
- expiryDate: 2018-10-19 00:00:00.000000 (date) - Date when the credit card expire
- validFrom: 2010-10-19 00:00:00.000000 (date) - Date the credit card is valid from
- note: Note (string) - Text of note


## Login (object)

- name: John Doe (string) - Name of login
- username: username (string) - Login username
- password: password (string) - Login password
- url: http://johndoe.com (string) - Login url
- note: Some note (string) - Text of note


## Application (object)

- id: 1 (number) - Id of application
- title: Twitter (string) - Name of application
- url: https://twitter.com/ (string) - Url of application
- url_editable: false (boolean) - If url of applications is editable
- icon_url: https://apps.appsco.com/icon/1.png (string) - Url of application's icon
- auth_types: unpw (array) - Application authorization type
  - none
  - item

## Me (object)

- id: 14 (number) - Owner's ID
- email: john.doe@appsco.com (string) - Emaile of account's owner
- first_name: John (string) - First name of account's owner
- last_name: Doe (string) - Last name of account's owner
- timezone: Europe/Belgrade (array) - Available timezones 
- gender: Male (array) - Gender
    - Female
- country: RS (array) - Available countries 
- phone: +381112233445 (string) - Phone number of account's owner
- picture_url: https://appsco.com/bundles/appscodashboardapproot/img/profile-avatar.png (string) - Picture url of account's owner